<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
     <link rel="stylesheet" href="css/custom.css">

    <title>Contact</title>
  </head>
  <body>
    
 <header>
<!---------------------------------- Navbar---Start---------------------------------------------->
<div class="container" style="padding-bottom: 10px;">
      <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #343434">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">

      <a class="navbar-brand" style="color: white;" href="#">Tour Guide</a>
      <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item ">
          <a class="nav-link" href="index.html" style="color: white;" >Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="about.html">About Us</a>
        </li>

        <li class="btn-group">   
          <a class="nav-link" style="color: white;" >Informations</a>

          <button type="button" class="btn btn-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color: white; background-color: #343434">
            <span class="sr-only">Toggle Dropdown</span>
          </button>
          <div class="dropdown-menu">
            <a class="dropdown-item" href="DeluxeS.html">Deluxe Single</a>
            <a class="dropdown-item" href="DeluxeD.html">Deluxe double</a>
            <a class="dropdown-item" href="NormalS.html">Normal Single</a>
            <a class="dropdown-item" href="NormalD.html">Normal Double</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="ex.html">Extras</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" style="color: white;" href="contact.html">Contact</a>
        </li>
      </ul>
    </div>

      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
     </nav>
    </div>

</header>

<!---------------------------------- Navbar---Ends -------------------------------------->
<div class="container">
  <div class="OA">
    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-8">
        <h1>Office Address</h1>
        <p>Suit: B2; Block :B
        Road: 7,<br> Bashundhara R/A, Dhaka,<br> Bangladesh.<br><br>
        Email: 12345678@gmail.com<br>
        Phone: 01123456789 </p><br><br><br>
        <h1>Send us Email</h1>
        <form>
          
              <h4>Name:</h4>
              <input type="text" class="form-control" placeholder="Your Name"><br>
            
              <h4>Mail ID:</h4>
              <input type="text" class="form-control" placeholder="Your Mail"><br>
               <h4>Subject:</h4>
              <input type="text" class="form-control" placeholder="Your Subject"><br>
               <h4>Message:</h4>
              <input type="text" class="form-control" placeholder="Your Message"><br>
              <button type="submit" class="btn btn-outline-success">Send</button>
            
          
        </form>
      </div>
    </div> 


    
  </div>




  <!------------------Footer-------------------------->

<div class="part3">
<br>
<div class="container">
<div class="row" >
  <div class="col-sm-4">
  <div class="row" style="text-align: center; color: brown;"> Social Links:</div><br>
  <div class="row">
    <div class="col-sm-2"><a href="www.facebook.com"><img src="img/14.png"> </a></div>
    <div class="col-sm-2"><a href="https://www.youtube.com/"><img src="img/15.png"></a></div>
  </div> 
  <div class="row" style="padding-top: 5px;">
    <div class="col-sm-2"><a href="https://www.google.com/search?q=gmail&ie=utf-8&oe=utf-8&client=firefox-b"><img src="img/13.png"> </a></div>
    <div class="col-sm-2"><a href="https://twitter.com/signup?lang=en"><img src="img/16.png"></a></div>
  </div>  
  </div>
  <div class="col-sm-4">
    <h4>Address:</h4>
    <p>Suit: B2; Block :B <br>Road: 7,
      Bashundhara R/A, Dhaka,
      Bangladesh.
      <br><br>
      Email: 12345678@gmail.com
      Phone: 01123456789 </p>
  </div>
  <div class="col-sm-4">
    <iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d14600.111225739593!2d90.4227266290041!3d23.817610233232543!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1sbashundhara+block+b+road+7!5e0!3m2!1sen!2sbd!4v1515656677792" width="350" height="250" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>
</div>
</div>
<br>
</div>









  <!------------------Copyright-------------------------->
  <div class="part4">
  <div class="navbar navbar-expand-lg navbar-light" style="background-color: black">
  <div class="row"></div>
    <div class="col-sm-4"></div>
    <div class="col-sm-8">
      <p style="color:white"> Copyright@Faizullah Fuhad</p>
    </div> 
  </div>
  </div>







    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    </div>
  </body>
</html>